* {
  font-family: sans-serif;
  color: #242424;
}
body {
  background: linear-gradient(blue, purple);
  background-repeat: no-repeat;
}
.weatherSection {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weatherContainer {
  background-color: #fff;
  padding: 15px 35px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  line-height: 1;
}
.weatherHeading {
  font-size: 23px;
  line-height: 2.3;
}
#weatherForm {
  display: flex;
  gap: 5px;
}
#weatherInput {
  height: 25px;
  width: 200px;
  padding: 2px 5px;
  border-radius: 5px;
  text-transform: capitalize;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#searchButton {
  height: 30px;
  width: 70px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: #fff;
  border: 1px solid #242424;
}
#searchButton:hover {
  cursor: pointer;
}
#searchButton:active {
  transform: scale(0.9);
}
#response {
  height: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headingTwo{
  font-size: 20px;
  font-weight: 500;
}
.cardContainer {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 10px;
}
.card {
  height: 45px;
  width: 100px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}
.card span {
  text-transform: capitalize;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.6);
}
#footerSpan{
  font-size: 10px;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.3);
}
